<!DOCTYPE html>
<html>
<head>
  <title>What's in your basket?</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="initial-scale=1.0; width=device-width;">
  <%= favicon_link_tag '/favicon.ico' %>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

</head>
<body>

<%= yield %>

</body>
</html>